.Seat {
    position: relative;
    text-align: center;
    line-height: 2em;
}
.Seat img {
    width: 30px;
    height: 20px;
}
.tooltip {
    display: none;
    position: absolute;    
    top: -1em;
    left: 0;
    background-color: white;
    width: 100%;
    pointer-events: none;
}
.Seat:hover .tooltip {
    display: inline-block;
}
.Seat:hover .tooltip {
    display: inline-block;
}

[available=true] {
    background-color: green;
}
[available=false] {
    background-color: red;
}